# Data files
creditcard.csv
*.csv

# Python environment
venv/
.venv/
__pycache__/
*.pyc

# Large Preprocessing Objects
# We ignore large data splits to stay under the 100MB limit
split_data.pkl
smote_data.pkl
X_hybrid.pkl

# EXCEPTIONS
# We want to keep the scaler so teammates can use it
!backend/robust_scaler.pkl

echo "notebook/X_train.pkl" >> .gitignore
echo "notebook/X_test.pkl" >> .gitignore
echo "notebook/y_train.pkl" >> .gitignore
echo "notebook/y_test.pkl" >> .gitignore